@media only screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 1199px) {
    .img-1-container {
        display: flex;
        justify-content: center;
    }

    .img-1 {
        position: static;
        width: 550px;
        /* top: -120px;
        right: -80px; */
    }
    
    .feature-background.visible .feature-image-1 {
        top: -20%;
        right: -20px;
    }

    .feature-background.visible .feature-image-3 {
        height: 500px;
        top: -15%;
        right: 5%;
    }
}

@media only screen and (max-width: 991px) {
    .row {
        --bs-gutter-y: 24px;
    }
    /* .feature-text-wrap {
        padding: 100px 0 100px 80px;
    } */
    .feature-background.visible .feature-image-1 {
        top: -20%;
        right: -20px;
    }

    /* .spec {
        background-size: 70%;
    } */

    .feature-background {
        background-size: 100% auto;
        height: auto;
    }

    /* .feature-1 {
        max-height: 810px;
    } */

    .feature-image {
        position: static;
    }

    .feature-text-wrap {
        padding: 100px 40px 0 40px;
    }
    .feature-text-wrap-right {
        padding: 0 40px 100px 40px;
    }
}

@media only screen and (max-width: 767px) {
    .nav-links {
        gap: 30px; 
    }

    /* .feature-background {
        background-size: 100% auto;
        height: auto;
        max-height: 888px;
    }

    .feature-image {
        position: static;
    } */
     

    .feature-text-wrap {
        padding: 100px 20px 0 20px;
    }
    .feature-text-wrap-right {
        padding: 0 20px 100px 20px;
    }
    .spec {
        background-size: 40%;
    }
}

@media only screen and (max-width: 575px) {
    .zero-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .filter-btn {
        padding: 10px 10px;
        margin-right: 10px;
    }
    /* .spec {
        background-size: 100%;
    } */

    .feature-image {
        width: 100% !important;
        height: auto !important;
    }

    .feature-container {
        padding: 0;
    }
}