/* @media only screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
} */

@media only screen and (max-width: 1400px) {
    .feature-background.visible .feature-image-3 {
        left: 0;
    }
    /* .title {
        font-size: 45px;
    } */
    .feature-background.visible .feature-image-2 {
        top: -50px;
        right: 20px;
        height: 550px;
    }
    .feature-background.visible .feature-image-3 {
        top: -5%;
        left: 20px;
        height: 550px;
    }
    .feature-background.visible .feature-image-4 {
        right: 20px;
    }
    .feature-background.visible .feature-image-5 {
        height: 480px;
        bottom: 10px;
    }
    .feature-text-wrap {
        padding: 100px 50px 100px 50px;
    }
    .feature-text-wrap-right {
        padding: 100px 50px 100px 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .phone-banner-text {
        height: 550px;
    }
    /* .feature-background.visible .feature-image-2 {
        top: -25px;
        right: 0;
        height: 550px;
    } */
    .feature-background.visible .feature-image-6 {
        top: -20%;
        right: 30px;
    }
    .feature-text-wrap {
        padding: 100px 50px 100px 50px;
    }
    .feature-text-wrap-right {
        padding: 100px 50px 100px 50px;
    }
    /* .home-banner-title {
        bottom: 20px;
    } */
    .title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .phone-banner-text {
        height: 650px;
    }
    .pb_md_0{
        padding-bottom: 0;
    }
    .img-1 {
        top: -150px;
        right: -280px;
    }
    .row {
        --bs-gutter-y: 24px;
    }
    .title {
        font-size: 45px;
    }
    /* .feature-text-wrap {
        padding: 100px 0 100px 80px;
    } */
    /* .feature-background.visible .feature-image-6 {
        top: -20%;
        right: -20px;
    }

    .feature-background.visible .feature-image-2 {
        top: -50px;
    } */

    /* .spec {
        background-size: 70%;
    } */

    .feature-background {
        background-size: 100% auto;
        height: auto;
    }

    .feature-image {
        position: static;
        /* margin-bottom: 100px; */
    }

    /* .feature-image-left {
        margin-bottom: 0;
        margin-top: 100px;
    } */

    .feature-image-1 {
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .feature-image-2 {
        margin-top: -30px;
        margin-bottom: 20px;
    }

    .feature-image-3 {
        margin-top: 20px;
        margin-bottom: -30px;
    }

    .feature-image-4 {
        margin-top: -80px;
    }

    .feature-image-5 {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .feature-image-6 {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .feature-text-wrap {
        padding: 100px 40px 0 40px;
    }
    .feature-text-wrap-right {
        padding: 0 40px 100px 40px;
    }

    .black-background {
        margin-top: -570px;
        padding-top: 570px;
    }
    h3{
        font-size: 23px;
    }

    .lg-center {
        display: flex;
        justify-content: center;
    }
    /* .home-banner-title {
        bottom: 70px;
    } */

    .learn-more-button {
        bottom: 30px;
    }
    /* .title {
        font-size: 50px;
    } */
}

@media only screen and (max-width: 767px) {
    /* .phone-banner-text {
        height: 620px;
    } */
    .nav-links {
        gap: 30px; 
    }

    .img-1-container {
        display: flex;
        justify-content: center;
    }

    .img-1 {
        position: static;
        width: 550px;
    }

    /* .feature-background {
        background-size: 100% auto;
        height: auto;
        max-height: 888px;
    }

    .feature-image {
        position: static;
    } */
     
    .feature-background{
        height: auto;
    }
    .feature-text-wrap {
        padding: 100px 20px 0 20px;
    }
    .feature-text-wrap-right {
        padding: 0 20px 100px 20px;
    }
    .spec {
        background-size: 40%;
    }
    .faq-questions {
        padding: 20px 0;
    }
    .home-cards {
        padding: 10px 0;
    }
    /* .home-banner-title {
        bottom: 70px;
    } */
    .learn-more-button {
        bottom: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .phone-banner-text {
        height: 570px;
    }
    .zero-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .filter-btn {
        padding: 10px 10px;
        margin-right: 10px;
    }
    /* .spec {
        background-size: 100%;
    } */
    .feature-background{
        height: auto;
        border-radius: 0;
    }
    
    .feature-image {
        width: 80% !important;
        height: auto !important;
    }

    .feature-container {
        padding: 0;
    }

    .phone-nav-heading {
        font-size: 20px;
        font-weight: bold;
    }
    .nav-links {
        gap: 15px; 
    }
    .phone-nav-links {
        gap: 15px; 
    }
    .heading {
        font-size: 50px;
    }
    .home-banner-title {
        font-size: 35px;
    }
    .title {
        font-size: 40px;
    }
    .feature-text {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    /* .home-banner-title {
        bottom: 50px;
    } */
    .learn-more-button {
        bottom: 50px;
    }
}