body {
    font-family: "Manrope", sans-serif;
}

:root {
    --bs-border-radius: 20px;
    --bs-border-width: 0;
    --bs-body-color: black;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 20px; */
    height: 100px;
}

.logo-container {
    height: 100px;
    width: 100px;
    padding: 20px 0;
}

.logo {
    height: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links-white a {
    color: white !important;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: none;
}

.first-nav {
    letter-spacing: 1px;
}
.first-nav.active {
    font-weight: bold;
}

.sub {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 10px 0;
    z-index: 1000;
    padding: 0px 15px 10px;
    /* padding-top: 10px;
    margin-top: -10px; */
}

.sub-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    white-space: nowrap; /* Prevents text wrapping */
}

/* .sub-menu a:hover {
    background-color: #f0f0f0;
} */

.sub:hover .sub-menu {
    display: block; /* Show menu on hover */
}

.sub:hover {
    position: relative;
}

.underline-link {
    /* color: #444; */
    /* text-decoration: underline; */
    text-decoration-color: #0c73b2;
    text-underline-offset: 5px;
    position: relative;
    /* letter-spacing: 1px; */
}

.underline-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #0c73b2;
    transition: width 0.5s ease;
  }
  
  .underline-link:hover::after {
    width: 100%;
  }

/* .underline-link:hover {
    color: black;
    text-decoration: none;
} */

.copyright {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}

.phone-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 20px; */
    height: 70px;
    color: white;
}

.phone-nav a {
    color: white !important;
}

.button {
    background-color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 17px;
}

.phone-nav .button{
    color: black !important;
}

.phone-nav-heading {
    font-size: 24px;
    font-weight: bold;
}

.phone-banner-container {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/phone/banner_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: background-size 0.3s ease; /* Smooth transition for zooming */
}

.phone-banner {
    object-fit: cover;
    max-width: 100%;
    max-height: 80%;
}

.phone-banner-text {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.title {
    font-size: 50px;
    line-height: 1.2;
}

.home-banner-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    right: 12px;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding: 100px 0; */
}

.top-padding {
    padding-top: 50px;
}

.bottom-padding{
    padding-bottom: 50px;
}

/* .img-1-container {
    padding: 0;
    overflow: hidden;
} */

.img-1 {
    position: absolute;
    width: 550px;
    top: -150px;
    right: -220px;
}

.highlight-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    flex: 1;
}

.highlight-icon {
    width: 50px;
    padding-bottom: 20px;
}

.highlight-text {
    font-size: 16px;
    font-weight: 700;
}

.feature-background {
    /* controlled by JS function responsiveBackground()
    background-position: left center;
    background-size: 40%;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    opacity: 0;
    width: 0;
    transition: width 1s ease, opacity 1s ease;
    overflow: hidden;
}

.feature-background.visible {
    opacity: 1;
    width: 100%;
    overflow: visible;
}

.feature-background .row {
    width: calc(100% + var(--bs-gutter-x));
}

.feature-1 {
    background-color: #2a2e7c;
    background-image: url('../img/phone/bg_1.png');
}

.feature-2 {
    background-color: #797cdc;
    background-image: url('../img/phone/bg_2.png');
}

.feature-3 {
    background-color: #3f3fa1;
    background-image: url('../img/phone/bg_3.png');
}

.feature-text-wrap {
    width: 100%;
    padding: 100px 0 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease 0.9s;
}

.feature-text-wrap-right {
    padding: 100px 100px 100px 50px;
}

.feature-background.visible .feature-text-wrap {
    opacity: 1;
}

.feature-text {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 300;
}

.feature-image {
    height: 550px;
    position: absolute;
    opacity: 0;
    transform: translateY(100px); /* Start below the container */
    transition: transform 1s ease-out, opacity 0s ease-out;
    transition-delay: 0.9s;
}

.feature-background.visible .feature-image {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide to the final position */
}

.feature-background.visible .feature-image-1 {
    top: -25%;
    right: 5%;
}

.feature-background.visible .feature-image-2 {
    left: 0;
    bottom: 41px;
}

.feature-background.visible .feature-image-3 {
    top: -15%;
    right: 2%;
}

.feature-background.visible .feature-image-4 {
    left: 0;
    bottom: 0px;
}

.feature-background.visible .feature-image-5 {
    width: 60%;
    height: auto;
    top: 18%;
    right: -5%;
}

.spec {
    background-image: url('../img/phone/img_spec.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 30%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.spec-wrap {
    padding-bottom: 20px;
}

.spec-wrap h3 {
    text-wrap: nowrap;
}

.black-background {
    background-color: black;
    margin-top: -270px;
    padding-top: 270px;
    color: white;
    /* min-height: 1200px; */
}

/* .faq-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
} */

.faq-filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.filter-btn {
    padding: 10px 20px;
    margin-right: 10px;
    /* border: 1px solid #ccc;
    border-radius: 23px;
    background-color: #f8f9fa; */
    cursor: pointer;
}

.filter-btn.active {
    border-radius: 23px;
    background-color: white;
    color: black;
}

/* .filter-btn:hover {
    background-color: #e9ecef;
} */

.faq-questions {
    padding: 20px 15px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.question-wrap {
    display: inline-flex;
    align-items: start;
    position: relative;
    cursor: pointer;
    /* padding-left: 20px; */
}

.question {
    font-size: calc(1.3rem + .6vw);
    padding-left: 10px;
}

.answer {
    display: none;
    margin-top: 5px;
    padding-left: 52px;
    margin-bottom: 0;
}

.faq-icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #333;
    height: 40px;
    width: 40px;
    transition: transform 0.3s;
}

.faq-icon.open {
    transform: rotate(90deg);
}

.heading-container {
    padding: 50px 0;
}

.accessory-filter {
    margin-bottom: 20px;
    display: flex;
}