:root {
    --bs-border-radius: 20px;
    --bs-border-width: 0;
    --bs-body-color: black;
}

.row {
    --bs-gutter-y: 24px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 20px; */
    height: 100px;
}

.logo {
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links-white a {
    color: white !important;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: none;
}

.phone-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 20px; */
    height: 50px;
}

.button {
    background-color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 17px;
}

.banner-container {
    width: 100%;
    position: relative;
}

.banner {
    width: 100%;
    object-fit: cover;
    min-height: 500px;
}

.banner-text {
    position: absolute;
    /* height: 200px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.heading {
    font-size: 70px;
}

.title {
    font-size: 50px;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-padding{
    padding-bottom: 50px;
}

.highlights-container {
    display: flex;
}

.highlight-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    flex: 1;
}

.highlight-icon {
    width: 50px;
    padding-bottom: 20px;
}

.highlight-text {
    font-size: 24px;
}

.details-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

.android {
    background-image: url('https://dummyimage.com/3000x2000');
}

.details-text-wrap {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-text {
    font-size: 24px;
}

.phone {
    position: absolute;
    top: -100px;
    right: 100px;
}

.spec {
    background-image: url('https://dummyimage.com/3000x2000/000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    color: white;
  }

hr {
    border-top: 2px solid #fff;
    margin: 10px 0 !important;
}

.spec-wrap {
    padding-bottom: 30px;
}

.card {
    background-color: #f7f7f7;
}

.card-body {
    padding: 30px;
}

.support-icon {
    font-size: 50px;
}

.card-title {
    padding: 15px 0 0 0;
    font-size: calc(1.3rem + .6vw);
}

.black-background {
    background-color: black;
    margin-top: -250px;
    padding-top: 250px;
    color: white;
    height: 1500px;
}

/* .faq-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
} */

.faq-filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.filter-btn {
    padding: 10px 20px;
    margin-right: 10px;
    /* border: 1px solid #ccc;
    border-radius: 23px;
    background-color: #f8f9fa; */
    cursor: pointer;
}

.filter-btn.active {
    border-radius: 23px;
    background-color: white;
    color: black;
}

/* .filter-btn:hover {
    background-color: #e9ecef;
} */

/* .faq-questions {
    width: 600px;
} */

.faq-item {
    /* display: flex; */
    align-items: start;
    cursor: pointer;
    gap: 10px;
    margin-bottom: 40px;
}

.question-wrap {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* padding-left: 20px; */
}

.question {
    font-size: calc(1.3rem + .6vw);
    padding-left: 10px;
}

.answer {
    display: none;
    margin-top: 5px;
    padding-left: 52px;
}

.faq-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #333;
    height: 40px;
    width: 40px;
    transition: transform 0.3s;
}

.faq-icon.open {
    transform: rotate(90deg);
}